form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
    margin-bottom: .5em;
}
input{
    margin-bottom: .5em;
}
textarea{
    margin-bottom: .5em;
}

/* full screen mode*/
@media(min-width:1024px){
form{
    width: 60%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 12em 1fr;
    grid-gap: 1em;
    gap:1em;
}
label{
    text-align: right;
}
button[submit]{
    grid-column: 2;
    width: 9em;
}

body{
    margin:0;
    background-color: #3f2860;
    color: #40407a;
    font-family: Verdana, Arial, sans-serif;
}
header{
    background-image: url("images/sunrise.jpg");
    background-size: 100% 100%;
    background-color: #40407A;
    color: #fff;
    font-size: 120%;
    margin-top: 50px;
    min-height: 200px;
    text-align: left;
}
header a:link{text-decoration: none;display: block;color:#fff}
header a:visited{text-decoration: none;display: block;color:#fff}
header a:hover{text-decoration: none;display: block;color:#fff} 
h1{
    line-height: 200%;
    padding-top: 50px;
    padding-left: 2em;
}
h2{
    font-size: 200%;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    text-align: right;
    padding:.5em;
    padding-right: 0;
    width: 100%;
    background-color: white;
    margin:0; 
    z-index: 9999
}
nav a{
    text-decoration: none;
    display: block;
}
/*  add styling to the a links when one of these happens */
nav a:link{color: #3f2860}
nav a:visited{color: #497777}
nav a:hover{color: #A26100;}
nav ul{
    display: flex;
    flex-wrap: nowrap; /*one line*/
    justify-content: flex-end;
    margin: 0;
    font-size: 1.2em;
    list-style-type: none;
}

nav li{
    width: 7em;
    padding: 0 1em 0 1em;
    display: inline;

}
footer{
    background-color: #80CBC4;
    font-size: .6em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 1em;
}
section{
    padding-left: 2em;
    padding-right: 2em;
}
/*class section*/
.studio{  /* class for the name of the studio */
    color:#40407A;
    font-style: italic;
}
.onethird{
    float:left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}
.content{
    height: 30vh;
    padding-left: 8em;
    padding-top: 1em;
}
/* id section */
#wrapper{   
    padding: 2em;
    margin: auto;  /*Will help center the text on the screen*/
    width:80%;
    background-color: #F5F5F5;
    min-width: 1000px;
    max-width: 1280px;
}
#hero{
    text-align: center;
}
#mobile{
    display: none;
}
#desktop{
    display:inline;
}
#mathero{
    background-image: url(images/yogamat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 300px;
    padding-bottom: 1em;
}
#loungehero{
    background-image: url(images/yogalounge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 300px;
    padding-bottom: 1em;
}
#storehero{
    background-image: url("images/store.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height:300px;
    padding-bottom:1em;
}
#flow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
}

/*tablet mode*/
@media(min-width:600px){
    form{
        width: 90%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 12em 1fr;
        grid-gap: 1em;
        gap:1em;
    }
    label{
        text-align: right;
    }
    button[submit]{
        grid-column: 2;
        width: 9em;
    }
    body{
        margin:0;
        background-color: #3f2860;
        color: #40407a;
        font-family: Verdana, Arial, sans-serif;
    }
    header{
        background-image: url("images/sunrise.jpg");
        background-size: 100% 100%;
        background-color: #40407A;
        color: #fff;
        font-size: 90%;
        margin-top: 50px;
        min-height: 200px;
        text-align: left;
    }
    header a:link{text-decoration: none;display: block;color:#fff}
    header a:visited{text-decoration: none;display: block;color:#fff}
    header a:hover{text-decoration: none;display: block;color:#fff} 
    h1{
        line-height: 200%;
        padding-top: 50px;
        padding-left: 2em;
    }
    h2{
        font-size: 200%;
    }
    nav{
        position:fixed;
        top: 0;
        left: 0;
        text-align: right;
        padding:.5em;
        padding-right: 0;
        width: 100%;
        background-color: white;
        margin:0; 
        z-index: 9999
    }
    nav a{
        text-decoration: none;
        display: block;
    }
    /*  add styling to the a links when one of these happens */
    nav a:link{color: #3f2860}
    nav a:visited{color: #497777}
    nav a:hover{color: #A26100;}
    nav ul{
        display: flex;
        flex-wrap: nowrap; /*one line*/
        justify-content: flex-end;
        margin: 0;
        font-size: 1.2em;
        list-style-type: none;
    }
    
    nav li{
        width: 7em;
        padding: 0 1em 0 1em;
        /* display: inline; */
    
    }
    footer{
        font-size: .6em;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
    }
    section{
        padding-left: 2em;
        padding-right: 2em;
    }
    /*class section*/
    .studio{  /* class for the name of the studio */
        color:#40407A;
        font-style: italic;
    }
    .onethird{
        float:left;
        width: 33%;
        padding-left: 2em;
        padding-right: 2em;
    }
    .home{
        height: 20vh;
        padding-left: 10%;
        padding-top: 2em;
    }
    .content{
        height: 20vh;
        padding-left: 10%;
        padding-top: 2em;
    }
    /* id section */
    #wrapper{   
        padding: 2em;
        background-color: #F5F5F5;
    }
    #mobile{
        display: none;
    }
    #desktop{
        display:inline;
    }
    #mathero{
        background-image: url(images/yogamat.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 300px;
        padding-bottom: 1em;
    }
    #loungehero{
        background-image: url(images/yogalounge.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 300px;
        padding-bottom: 1em;
    }
    #storehero{
        background-image: url("images/store.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height:300px;
        padding-bottom:1em;
   }
    #flow{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #clear{
        clear:both;
    }
}
/*mobile screen*/
@media(max-width:600px){
body{
    margin:0;
    background-color: #3f2860;
    color: #40407a;
    font-family: Verdana, Arial, sans-serif;
}
header{
    background-image: url("images/sunrise.jpg");
    background-size: 100% 100%;
    background-color: #40407A;
    color: #fff;
    font-size: 120%;
    margin-top: 50px;
    min-height: 200px;
    text-align: left;
}
header a:link{text-decoration: none;display: block;color:#fff}
header a:visited{text-decoration: none;display: block;color:#fff}
header a:hover{text-decoration: none;display: block;color:#fff} 
/*h1{
    line-height: 200%;
    padding-top: 50px;
    padding-left: 2em;
}*/
h2{
    font-size: 200%;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    text-align: right;
    padding:.5em;
    padding-right: 0;
    width: 100%;
    background-color: white;
    margin:0; 
    z-index: 9999
}
nav a{
    text-decoration: none;
    display: block;
}
/*  add styling to the a links when one of these happens */
nav a:link{color: #3f2860}
nav a:visited{color: #497777}
nav a:hover{color: #A26100;}
nav ul{
    display: flex;
    flex-wrap: wrap; /*one line*/
    flex-direction: row;
    margin: 0;
    font-size: 1.2em;
    list-style-type: none;
}
nav li{
    width: 40%;
    padding: 0 1em 0 1em;
    display: inline;

}
footer{
    font-size: .6em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
section{
    padding-left: .5em;
    padding-right: .5em;
}
/*class section*/
.studio{  /* class for the name of the studio */
    color:#40407A;
    font-style: italic;
}
.onethird{
    float:left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}
.home{
    height: 20vh;
    padding-left: 10%;
    padding-top: 2em;
}
.content{
    height: 20vh;
    padding-left: 10%;
    padding-top: 2em;
}
/* id section */
#wrapper{   
    padding: 2em;
    background-color: #F5F5F5;
}
#hero{
    text-align: center;
}
#mobile{
    display:inline;
}
#desktop{
    display: none;
}
/*
#mathero{
    background-image: url(images/yogamat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 300px;
    padding-bottom: 1em;
}
#loungehero{
    background-image: url(images/yogalounge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 300px;
    padding-bottom: 1em;
}
#flow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}*/
}

table{
    width: 60%;
    border: 1px solid #3F2860;
    border-collapse: collapse;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

td,th{
    padding: 5px;
    border: 1px solid #3F2860;
}
caption{        /*title of table*/
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}
tr:nth-of-type(even){
    background-color: #dbe8e9;
}



/* global property or global var*/
* {box-sizing: border-box;}

